/*
based on: "Flat Blue Reddit Theme - A subreddit CSS theme"
Uri: https://github.com/Admicos/fbrt-reddit-theme
source author: Admicos - https://github.com/Admicos
license: MIT License included, denoted as file name: "LICENSE" for this code
*/

body,
.side,
.toggle,
.spacer,
.leavemoderator,
.flat-vert.icon-menu.hover > li > a {
  color: #424242 !important;
  background-color: #FAFAFA !important; }

#sr-header-area,
#sr-header-area a,
#RESShortcutsEditContainer,
#RESShortcutsEditContainer * {
  background-color: #075aaa;
  color: #FAFAFA;
  border: 0; }
  .dropdown.srdrop .selected {
	color: #ffcc2f; }

#header-bottom-left {
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: #075aaa; }

#header-img.default-header,#header-img {
	z-index: 99;
	width: 0px;
	padding-left: 50px;
	height: 36px;
	background-image:url(%%reddit-sprite%%);
	background-position: -208px -54px;
	position: relative;
	top: 0px;
	margin: 0;
	margin-left: 50px;}

  #header-img.default-header:hover,#header-img:hover {
  	background-position:-208px -102px;}

  #header-bottom-left .redditname,
  #header-bottom-left .redditname > a {
    color: #FAFAFA;
    font-size: 1.5em;
    text-transform: lowercase;
    font-weight: lighter; }

#header-bottom-right {
  top: 10em !important;
  background-color: transparent;
  z-index: 100; }
  .listing-page #header-bottom-right,
  .comments-page #header-bottom-right,
  .search-page #header-bottom-right,
  .wiki-page #header-bottom-right {
    top: 11.3em !important; }
  .submit-page #header-bottom-right {
    top: 8em !important; }
    .user {
  	color: #b9cfed; }
  #header-bottom-right a {
    color: #FAFAFA;
    height: 1em !important; }
    #header-bottom-right a.access-required {
      top: -4px; }
  #header-bottom-right #userbarToggle {
    border: 0;
    background-color: transparent; }

.tabmenu {
  width: 100%;
  margin-bottom: -3em;
  background-color: #01295c; }
  .tabmenu > li > a {
    color: #FAFAFA;
    border: 0 !important;
    font-size: 1.25em;
    font-weight: lighter;
    background-color: transparent !important; }
  .tabmenu > li.selected > a {
    color: #ffcc2f; }
  .tabmenu.formtab {
    left: -.8em;
    width: 100.7%;
    bottom: 5em !important;
    z-index: 99;
    position: relative; }

.side {
  padding: .75em; }

#search input[type="text"] {
  border: medium #eb2226;
  outline: none;
  transition: border-width .2s ease;
  border-style: none none solid none;
  background-color: #FAFAFA; }
  #search input[type="text"]:focus {
    transition: border-width .2s ease;
    border-width: thick; }

#search input[type="submit"] {
  display: none; }

.morelink {
  border: 0;
  background: #075aaa;
  transition: all 0.5s ease;
  border-radius: .2em; }
  .morelink:hover {
    transition: all 0.5s ease;
    background: #01295c; }
  .morelink:active {
    transition: all 0.5s ease;
    background: #01295c; }
  .morelink > a {
    color: #FAFAFA; }
  .morelink > .nub {
    display: none; }

.subButtons .remove, .subButtons .res-fancy-toggle-button.remove,
.subscribe-button .remove,
.subscribe-button .res-fancy-toggle-button.remove {
  border: 0;
  background: #D32F2F;
  transition: all 0.5s ease;
  border-radius: .2em;
  padding: .75em; }
  .subButtons .remove:hover, .subButtons .res-fancy-toggle-button.remove:hover,
  .subscribe-button .remove:hover,
  .subscribe-button .res-fancy-toggle-button.remove:hover {
    transition: all 0.5s ease;
    background: #B71C1C; }

  .subButtons .remove:active, .subButtons .res-fancy-toggle-button.remove:active,
  .subscribe-button .remove:active,
  .subscribe-button .res-fancy-toggle-button.remove:active {
    transition: all 0.5s ease;
    background: #B71C1C; }

.subButtons .add, .subButtons .res-fancy-toggle-button,
.subscribe-button .add,
.subscribe-button .res-fancy-toggle-button {
  border: 0;
  background: #43A047;
  transition: all 0.5s ease;
  border-radius: .2em;
  padding: .75em; }
  .subButtons .add:hover, .subButtons .res-fancy-toggle-button:hover,
  .subscribe-button .add:hover,
  .subscribe-button .res-fancy-toggle-button:hover {
    transition: all 0.5s ease;
    background: #1B5E20; }
  .subButtons .add:active, .subButtons .res-fancy-toggle-button:active,
  .subscribe-button .add:active,
  .subscribe-button .res-fancy-toggle-button:active {
    transition: all 0.5s ease;
    background: #1B5E20; }

#siteTable {
  background: white;
  margin-top: 2em;
  margin-left: 14px;
  margin-right: 325px;
  margin-bottom: 2em;
  border-radius: .7em; }
  #siteTable > .thing {
    padding-top: 1em;
    padding-bottom: 1em; }
    #siteTable > .thing.stickied {
      background: #C8E6C9; }
    #siteTable > .thing > .rank {
      display: none; }
    #siteTable > .thing:first-child {
      border-top-left-radius: .7em;
      border-top-right-radius: .7em; }

form.toggle {
  background: transparent !important; }

.thing.RES-keyNav-activeThing:not(.comment) {
  background-color: #E8EAF6; }

.entry.RES-keyNav-activeElement,
.entry.RES-keyNav-activeElement .md-container {
  background: transparent !important; }

.usertext-buttons [type="submit"] {
  border: 0;
  background: #075aaa;
  transition: all 0.5s ease;

  border-radius: .2em;
  color: #FAFAFA;
  padding: .7em 1em; }
  .usertext-buttons [type="submit"]:hover {
    transition: all 0.5s ease;
    background: #01295c; }
  .usertext-buttons [type="submit"]:active {
    transition: all 0.5s ease;
    background: #01295c; }

.new-comment .usertext-body {
  border: 0;
  background-color: transparent; }

.thing.comment {
  border-style: none none none none !important; }

.comment.RES-keyNav-activeThing {
  border: 1em #075aaa !important;
  transition: all .2s ease;
  border-style: none none none solid !important; }

.md a {
  color: #075aaa;
  text-decoration: none; }
  .md a:hover {
    color: #01295c;
    text-decoration: underline;;
    background-color: #efe9e5; }

a[href="#s"] {
  cursor: default;
  font-size: 0;
  visibility: hidden; }

a[href="#s"]::after {
  color: transparent;
  content: attr(title);
  padding: 0 0.5em 0 0.5em;
  font-size: small;
  visibility: visible;
  transition: ease-in-out .2s; }

a[href="#s"]:hover::after,
a[href="#s"]:active::after {
  color: #424242;
  cursor: default;
  transition: ease-in-out .5s;
  text-shadow: none;
  text-decoration: none; }

.side a[href*="announce"] {
  right: 5em;
  color: white !important;
  z-index: 99;
  padding: .5em;
  position: absolute;
  background-color: #2EC4B6; }

.side a[href$="#announce1"] {
  top: 1.5em; }

.side a[href$="#announce2"] {
  top: 4.2em; }

.side a[href$="#announce3"] {
  top: 6.8em; }
